node_modules/.bin*
node_modules/.n*
node_modules/.p*
node_modules/.o*
node_modules/m*
node_modules/n*
node_modules/b*
node_modules/c*
node_modules/d*
node_modules/f*
node_modules/a*
node_modules/p*
node_modules/r*
node_modules/e*
node_modules/g*
node_modules/i*
node_modules/l*
node_modules/o*
node_modules/s*
node_modules/t*
node_modules/w*
node_modules/x*
node_modules/h*
node_modules/@*